.searchContainer{
    width:100%;

    .input{
        height:20px;
        width:100%;
        text-align: center;
        padding:5px;
        border-radius: 5%;
    }
    .searchBarList{
        min-height:100px;
    }
}


